{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% translate "Change Password" %}{% endblock title %}

{% block content %}
    <div class="col-8">
        <hr class="mt-0 mb-4">
        <form method="post" novalidate>
            <fieldset style="color:green;">
                <legend>{% translate "Change Password" %}</legend>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="submit" value="{% translate "Change" %}" class="btn btn-primary btn-success" id="submit-id-submit">
            </fieldset>
        </form>
    </div>
{% endblock  %}