{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Password{% endblock title %}

{% block content %}
    <div class="col-8">
        <hr class="mt-0 mb-4">
        <form method="post" novalidate>
            <fieldset style="color:green;">
                <legend>Password</legend>
                {% csrf_token %}
                {{ form|crispy}}
                <input type="submit" name="submit" value="Login" class="btn btn-primary btn-success" id="submit-id-submit">
            </fieldset>
        </form>
    </div>
{% endblock  %}